services:
  application:
    build:
      context: ./
    container_name: "application"
    ports:
      - "8000:8000"
    environment:
      VITE_DEV_MODE: "false"
      DATABASE_URL: "postgresql+asyncpg://app:app@database:5432/app"
      REDIS_URL: "redis://cache:6379/0"
    restart: unless-stopped
    env_file: .env
    depends_on:
      database:
        condition: service_healthy

  database:
    image: postgres:18.1-alpine3.23
    environment:
      POSTGRES_DB: "app"
      POSTGRES_USER: "app"
      POSTGRES_PASSWORD: "app"
    ports:
      - "15432:5432"
    volumes:
      - db-data:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - pg_isready
        - -U
        - app
      interval: 2s
      timeout: 3s
      retries: 40

  cache:
    image: redis:8.4-alpine3.22
    hostname: cache
    restart: unless-stopped
    ports:
      - "6379:6379"
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
    volumes:
      - cache-data:/data

volumes:
  db-data: {}
  cache-data: {}