{% extends "base.html" %}

{% block title %}Calculator{% endblock %}

{% block content %}
<div>
    <form>
        <fieldset>
            <legend>Computer Type:</legend>
            <input type="radio" name="type" value="desktop" id="type-desktop">
            <label for="type-desktop">Desktop</label>
            <input type="radio" name="type" value="laptop" id="type-laptop">
            <label for="type-laptop">Laptop</label>
            <input type="radio" name="type" value="other" id="type-other">
            <label for="type-other">Other</label>
        </fieldset>
        <fieldset>
            <legend>Processors</legend>
            <fieldset>
                <legend>Processor #1</legend>
                <input type="text" name="cpu-name">
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Memory</legend>
            <input type="radio" name="memory-type" value="ddr3" id="memory-type-ddr3">
            <label for="memory-type-ddr3">DDR3</label>
            <input type="radio" name="memory-type" value="ddr4" id="memory-type-ddr4">
            <label for="memory-type-ddr4">DDR4</label>
            <input type="radio" name="memory-type" value="ddr5" id="memory-type-ddr5">
            <label for="memory-type-ddr5">DDR5</label>
            <br>
            <input type="checkbox" name="memory-upgradable" id="memory-upgradable">
            <label for="memory-upgradable">Upgradable</label>
            <input type="checkbox" name="memory-ecc" id="memory-ecc">
            <label for="memory-ecc">Error Correcting</label>
            <fieldset>
                <legend>Module #1</legend>
                <label for="memory-size">Size:</label>
                <input type="number" name="memory-size" id="memory-size">
                <select name="memory-module-size-unit" id="memory-module-size-unit">
                    <option value="mb">MB</option>
                    <option value="gb" selected>GB</option>
                    <option value="tb">TB</option>
                </select>
                <br>
                <label for="memory-module-speed">Speed:</label>
                <input type="number" name="memory-module-speed" id="memory-module-speed">
                <label for="memory-module-speed">MT/s</label>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Storage</legend>
            <fieldset>
                <legend>Disk #1</legend>
                <label for="storage-disk-type-hdd">Type:</label>
                <input type="radio" name="storage-disk-type" value="hdd" id="storage-disk-type-hdd">
                <label for="storage-disk-type-hdd">HDD</label>
                <select name="storage-disk-hdd-form" id="storage-disk-hdd-form">
                    <option value="2.5">2.5"</option>
                    <option value="3.5" selected>3.5"</option>
                </select>
                <select name="storage-disk-hdd-interface" id="storage-disk-hdd-interface">
                    <option value="ide">IDE</option>
                    <option value="sata" selected>SATA</option>
                </select>
                <input type="radio" name="storage-disk-type" value="ssd" id="storage-disk-type-ssd">
                <label for="storage-disk-type-ssd">SSD</label>
                <select name="storage-disk-ssd-form" id="storage-disk-ssd-form">
                    <option value="2.5">2.5"</option>
                    <option value="3.5">3.5"</option>
                    <option value="m2" selected>m.2</option>
                    <option value="pcie">PCIe</option>
                </select>
                <select name="storage-disk-ssd-interface" id="storage-disk-ssd-interface">
                    <option value="sata">SATA</option>
                    <option value="mSATA">mSATA</option>
                    <option value="NVMe" selected>NVMe</option>
                </select>
                <br>
                <label for="storage-disk-size">Size:</label>
                <input type="number" name="memory-size" id="storage-disk-size">
                <select name="storage-disk-size-unit" id="storage-disk-size-unit">
                    <option value="mb">MB</option>
                    <option value="gb" selected>GB</option>
                    <option value="tb">TB</option>
                </select>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Graphics Cards</legend>
            <fieldset>
                <legend>Graphics Card #1</legend>
                <input type="checkbox" name="gpu-upgradable" id="gpu-upgradable">
                <label for="gpu-upgradable">Upgradable</label>
                <br>
                <input type="text" name="gpu-name">
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Laptop Display</legend>
            <label for="display-size">Size:</label>
            <input type="number" name="display-size" id="display-size">
            <label for="display-size">"</label>
            <br>
            <label for="display-resolution-horizontal">Resolution:</label>
            <input type="number" name="display-resolution-horizontal" id="display-resolution-horizontal">
            <label for="display-resolution-vertical">X</label>
            <input type="number" name="display-resolution-vertical" id="display-resolution-vertical">
            <br>
            <label for="display-refreshrate">Refresh Rate:</label>
            <input type="number" name="display-refreshrate" id="display-refreshrate">
            <label for="display-refreshrate">Hz</label>
            <br>
            <input type="checkbox" name="display-touch" id="display-touch">
            <label for="display-touch">Touchscreen</label>
        </fieldset>
        <fieldset>
            <legend>Networking</legend>
            <b>Wired:</b>
            <label for="networking-wired-fast">10/100</label>
            <input type="radio"
        </fieldset>
    </form>
</div>
{% endblock %}