<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Default Title{% endblock %} - FGTC</title>
        {{ vite_hmr() }}
        {{ vite('src/main.js') }}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                {% block navigation %}
                    {% include('navigation.html') %}
                {% endblock %}
            </nav>
        </header>

        <main>
            {% block content %}
            <p>This page has no content.</p>
            {% endblock %}
        </main>

        <dialog id="page_loader_modal" class="modal" open>
            <span class="loading loading-ring text-primary h-32 w-32"></span>
        </dialog>

        <footer>

        </footer>
    </body>
</html>